<div class="flex justify-around p-6 flex-row">
  <div class="px-8">

    <!-- Put here your logo -->
    <img src="../../../../assets/newlogo.png" alt="Profile Photo" class="w-10 h-10 rounded-full">

  </div>
  <div class="flex align-middle">
    
    <!-- Put here your features / pages like the following examples -->

    <a class="justify-center text-sm font-medium text-white pr-8">Store</a>

    <a class="justify-center text-sm font-medium text-white pr-8">Developer</a>

    <a class="justify-center text-sm font-medium text-white pr-8">Teams</a>

    <a class="justify-center text-sm font-medium text-white pr-8">Pro</a>

    <a class="justify-center text-sm font-medium text-white pr-8">Changelog</a>

    <a class="justify-center text-sm font-medium text-white pr-8 align-text-middle">Pricing</a>

    <a class="justify-center text-sm font-medium text-white align-text-middle">Blog</a>
  </div>
  
  <div class="flex">
    <a class="justify-center text-sm font-medium text-white pr-8 align-text-middle">Log in</a>

    <a class="justify-center text-sm font-medium text-white align-middle">Suscribe</a>
  </div>
</div>