<div class="flex justify-around">
  <div class="px-8 my-4 cursor-pointer">
    <!-- Put here your logo -->
    <img (click)="pathHome()" src="../../../../assets/newlogo.png" alt="Profile Photo" class="w-10 h-10">
  </div>
  
  <div class="flex align-middle my-6">
    <!-- Put here your features / pages like the following examples -->

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Store</span>

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Developer</span>

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Teams</span>

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Pro</span>

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Changelog</span>

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Pricing</span>

    <span class="transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 px-4 cursor-pointer">Blog</span>
  </div>
  
  <div class="flex mt-3.5">
    <div class="flex">
      <button (click)="pathAuth()" class="h-10 transition delay-150 duration-300 text-sm font-medium text-gray-400 hover:text-gray-300 py-2 px-4 hover:border-transparent rounded-lg">
        Log in
      </button>
      
      <button class="h-10 transition delay-150 duration-300 text-sm font-medium bg-gray-900 hover:bg-gray-800 text-gray-400 hover:text-gray-300 py-2 px-4 hover:border-transparent rounded-lg">
        Suscribe
      </button>
    </div>
  </div>
</div>