
<div class="flex h-16">
  <div>
    <img [src]="'https://api.dicebear.com/7.x/thumbs/svg?seed=' + username" alt="avatar" [alt]="username + '_pp'" class="w-16 h-16 rounded-full">
  </div> 
  <div class="ml-4">
    <span class="text-base font-medium text-gray-200 mb-6 flex justify-center mt-2">{{name}}</span>
    <span class="text-base font-normal text-gray-300 mb-6 flex -mt-4">{{username}}</span>
  </div>
</div>

<form [formGroup]="editProfile" (ngSubmit)="onSubmit()" class="mt-6">
  <div class="mb-4">
    <input formControlName="name" id="name" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Full name" required>
  </div>
  <div class="mb-4">
    <input formControlName="username" id="username" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Username" required>
  </div>
  <div class="mb-4">
    <input formControlName="email" type="email" id="email" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Email" required>
  </div>
  <div class="mb-4">
    <input formControlName="location" id="location" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Location" required>
  </div>
  <div class="mb-4">
    <input formControlName="blog" id="blog" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Website" required>
  </div>
  <div class="mb-4">
    <input formControlName="twitter_username" id="twitter_username" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Twitter Username" required>
  </div>
  <div class="mb-4">
    <input formControlName="github_username" id="github_username" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Github Username" required>
  </div>
  <div class="mb-4">
    <textarea formControlName="about" id="about" rows="2" class="block p-2.5 w-full text-sm rounded-lg border bg-gray-900 border-gray-600 placeholder-gray-400 text-white focus:ring-gray-900 focus:border-gray-900" placeholder="About"></textarea>
  </div>
  <div class="flex flex-row gap-2">
    <button (click)="editSession()" type="button" class="cursor-pointer w-1/4 text-gray-300 bg-gray-800 focus:ring-gray-700 focus:ring-4 focus:out border-10 line-none font-medium rounded-lg text-sm py-2.5 text-center">Cancel</button>
    <button (click)="onSubmit()" type="submit" class="cursor-pointer w-3/4 text-gray-950 bg-gray-200 focus:ring-gray-300 focus:ring-4 focus:out border-10 line-none font-medium rounded-lg text-sm py-2.5 text-center">Write in stone</button>
  </div>
</form>