<div class="mt-10 px-6">
  <div class="flex h-16">
    <div>
      <img [src]="'https://api.dicebear.com/7.x/thumbs/svg?seed=' + username" alt="avatar" [alt]="username + '_pp'" class="w-16 h-16 rounded-full">
    </div> 
    <div class="ml-4">
      <span class="text-base font-medium text-gray-200 mb-6 flex justify-center mt-2">{{name}}</span>
      <span class="text-base font-normal text-gray-300 mb-6 flex justify-center -mt-4">{{arobase}}{{username}}</span>
    </div>
  </div>

  <ng-container *ngIf="this.location">
    <div class="mt-7 flex">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" height="17" width="17" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-500 rounded-full">
          <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/>
          <circle cx="12" cy="10" r="3"/>
        </svg>
      </div>
      <div class="ml-4">
        <span class="text-sm font-light text-gray-400 flex justify-center">{{location}}</span>
      </div>
    </div>
  </ng-container>
</div>