#profile {
  background-color: red;
}

#picture {
  z-index: 9999;
}

.bg-gray-300 {
  background-color: #D1D5DB !important;
}

.border-10 {
  border-radius: 10px !important;
}

.w-478 {
  width: 478px !important;
}

.blue {
  color: #77a9ec;
}

.bg {
  background-color: #131620;
}

.loader2 {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(circle closest-side,#fffbfb 90%,#ffffff00);
  background: 
    var(--_g) 0    0,
    var(--_g) 0    100%,
    var(--_g) 100% 100%;
  background-size: 40% 40%;
  animation:l11 1s infinite linear;
}

@keyframes l11 {
    25% {background-position:100% 0   ,0 100%,100% 100%}
    50% {background-position:100% 0   ,0 0   ,100% 100%}
    75% {background-position:100% 0   ,0 0   ,0    100%}
    100%{background-position:100% 100%,0 0   ,0    100%}
}

@keyframes l3 {to{transform: rotate(1turn)}}