<div class="flex mt-2 justify-center flex-col items-center">
  <div class="px-8 my-4">
    <!-- Put here your logo -->
    <div class="flex justify-center">
      <img src="../../../../assets/newlogo.png" alt="Profile Photo" class="w-16 mb-6">
    </div>
    <span class="text-2xl font-medium text-gray-200 mb-6 flex justify-center">Log into your account</span>

    <div class="mx-auto pb-6">
      <div class="flex flex-row gap-5 justify-center">
        <button class="cursor-pointer bg-gray-900 hover:bg-gray-900 text-white font-bold py-3 px-8 rounded-lg">
          <a>
            <img src="../../../../assets/apple.png" alt="Profile Photo" class="w-5 h-5">
          </a>
        </button>

        <button class="bg-gray-900 hover:bg-gray-900 text-white font-bold py-3 px-8 rounded-lg">
          <a>
            <img src="../../../../assets/github.png" alt="Profile Photo" class="w-5 h-5">
          </a>
        </button>

        <button class="bg-gray-900 hover:bg-gray-8900 text-white font-bold py-3 px-8 rounded-lg">
          <a>
            <img src="../../../../assets/google.png" alt="Profile Photo" class="w-5 h-5">
          </a>
        </button>
      </div>

      <form class="mt-6">
        <div class="mb-4">
          <input type="email" id="email" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Email address" required>
        </div>
        <div class="mb-4">
          <input type="password" id="password" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Password (optional)" required>
        </div>
        <button type="submit" class="cursor-pointer w-full text-gray-950 bg-gray-200 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm py-2.5 text-center">Send Magic Link</button>
        
      </form>
      <button (click)="pathSignup()" class="cursor-pointer group flex justify-center transition delay-150 duration-300 mt-10 w-full text-gray-400 bg-gray-950 border border-gray-800 focus:ring-4 focus:outline-none font-medium hover:text-gray-300 rounded-lg text-sm py-2.5 text-center">
        <span class="transform ml-1">Don't have an account? Sign up</span> 
        <div class="transform group-hover:translate-x-1 ml-1 duration-300">→</div>
      </button>           
    </div>
  </div>
</div>