<div class="flex justify-center mt-6 gap-24">
  <div class=" justify-center flex-col items-center">
    <div class="px-8">
      <div class="flex justify-center">
        <img src="../../../../assets/newlogo.png" alt="Ship fast logo" class="w-16 mb-6">
      </div>
      <span class="text-2xl font-medium text-gray-200 mb-6 flex justify-center">Create your account</span>
  
      <div class="mx-auto pb-6">
        <div class="flex flex-row gap-5 justify-center">
          <button class="cursor-pointer bg-gray-900 hover:bg-gray-900 text-white font-bold py-3 px-8 rounded-lg">
            <img src="../../../../assets/apple.png" alt="Apple logo" class="w-5 h-5">
          </button>
  
          <button (click)="openGithubLogin()" class="bg-gray-900 hover:bg-gray-900 text-white font-bold py-3 px-8 rounded-lg">
            <img src="../../../../assets/github.png" alt="GitHub logo" class="w-5 h-5">
          </button>
  
          <button class="bg-gray-900 hover:bg-gray-900 text-white font-bold py-3 px-8 rounded-lg">
            <img src="../../../../assets/google.png" alt="Google logo" class="w-5 h-5">
          </button>
        </div>
  
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="mt-6">
          <div class="mb-4">
            <input formControlName="name" type="text" id="name" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Name" required>
          </div>
          <div class="mb-4">
            <input formControlName="username" type="username" id="username" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Username" required>
          </div>
          <div class="mb-4">
            <input formControlName="email" type="email" id="email" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Email address" required>
          </div>
          <div class="mb-4">
            <input formControlName="password" type="password" id="password" class="shadow-sm text-white bg-gray-900 placeholder-gray-500 border border-gray-700 text-sm rounded-lg block w-full p-2.5" placeholder="Password (optional)" required>
          </div>
          <button type="submit" class="cursor-pointer w-full text-gray-950 bg-gray-200 focus:ring-4 focus:out border-10 w-478line-none font-medium rounded-lg text-sm py-2.5 text-center">Create account</button>
          <div *ngIf="error" class="flex mt-2.5 justify-center text-red-500">
            <span>{{texterror}}</span>
            <span *ngIf="!texterror">Formular invalid </span>
          </div>
        </form>

        <button (click)="openLogin()" class="cursor-pointer group flex justify-center hover:transition hover:delay-150 hover:duration-300 mt-10 w-full text-gray-400 bg-gray-950 border border-gray-800 focus:ring-4 focus:out border-10 w-478line-none font-medium hover:text-gray-300 rounded-lg text-sm py-2.5 text-center">
          <span class="transform ml-1">I already have an account</span> 
          <div class="transform group-hover:translate-x-1 ml-1 duration-300">→</div>
        </button>           
      </div>
    </div>
  </div>
</div>